* {
    padding :0;
    margin:0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 400;
    background-color: #fff;
}

.section__title h3{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000C04;
}

.section__title p{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.btn__style{
    background-color: #189A46;
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
}

/* Numbers */

.numbers{
    background-color: #189A46;
}
.numbers__content{
    text-align: center;
}

.numbers__item{

}
.numbers__item p {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

.numbers__item h4{
    color: #fff;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 400;
}

/* Packages */
.packages__title p{
    font-weight: 600;
    text-transform: capitalize;
}
.packages__item{
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    align-self: center;
    padding: 0;
}

.packages__item.active{
    transform: scale(1.03);
    z-index: 10;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
}


.packages__item--inner {
    padding: 50px 40px;
   
}

.packages__item--inner h6{
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #000C04;
    text-align: center;
}

.packages__item--inner h4{
    margin: 15px 0 10px;
    font-size: 40px;
    line-height: 45px;
    color: #189A46;
}

.packages__item--inner .packages__item--top h4{
    margin-bottom: 0;
}
.packages__item--inner h4 sup{
    font-size: 25px;
}

.packages__item--inner h4 span{
    font-size: 16px;
    color: #9999;
    font-weight: 400;
}

.packages__item--inner ul li{
    margin-bottom: 5px;
    padding-top: 6px;
    line-height: 25px;
    font-size: 18px;
    color: #696969;
}

.packages__item--inner ul{
    padding-top: 8px;
}



.packages__item--top{
    padding: 44px 40px 15px;
    background-color: #189A46;

}

.packages__item--top h5{
    color: #189A46;
    background-color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    padding:8px 20px;
    margin-bottom: 20px;
    font-weight: 600;

}

.packages__item--top h6, .packages__item--top h4{
    color: #fff;

}

.packages__item--top h4 span{
    color: #eee;

}

.packages__item--bot{
    padding: 20px 30px 46px;
}


.button__buy{
    margin-top: 30px;
}
.button__buy .btn__link{
    text-decoration: none;
    transition: all 0.75s;
}

.button__buy .btn__link:hover, .form__content button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #116E32;
    border-color: #116E32;
}
.packages__item.active .button__buy .btn__link{
    text-decoration: none;
    color: #fff;
    background-color: #189A46;
}

/* Nutrition */
.nutrition__title{
    text-align: center;
}

.nutrition__content .nutrition__title p:last-child, .follow__title p{
    font-size: 17px;
    line-height: 28px;
    color: #696969;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;

}
.video_item{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_item a i{
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    color: #189A46;
    animation: circleColor 1s linear infinite;
    transition: all 3s;
    
    
}

@keyframes circleColor {
    0% {
        box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 
                    0 0 0 10px rgba(15, 162, 67, 0.25),
                    0 0 0 20px rgba(15, 162, 67, 0.25);
    }


    100% {
       
        box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 
        0 0 0 20px rgba(15, 162, 67, 0.25),
         0 0 0 40px rgba(50, 100, 245, 0);
    }
    
}

/* Feedbacks */

.feedbacks{
    background-color: #f9f7fe;
}

.feedbacks .owl-dots{
    top: 100%;
    margin-top: 22px;
} 

.owl-theme .owl-dots .owl-dot span{
    background-color:  #d8d8d8;;
}

.feedbacks__title{
    text-align: center;
}

.feedbacks__item-top p::before{
    content: '\201C';
    font-size: 50px;
    color: var(--primary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
}

.feedbacks__item-top blockquote{
    font-size: 15px;
    margin: 0 16px 18px;
}

.feedbacks__item-top p::after{
    content: '\201C';
   
}
.feedbacks__item{
    background-color: #fff;
    padding: 40px 30px;
}
.feedbacks__item-bot{
    display: flex;
    align-items: center;
    
}

.feedbacks__item .feedbacks__item-bot img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.feedbacks__avt-name h4{
    font-size: 19px;
    margin: 0;

}

.feedbacks__avt-name p{
    font-size: 16px;
    color: #ababab;
    margin: 0;
    
}

/* Folloow */


.follow__title{
    text-align: center;
    max-width: 650px;
}

.follow__form{
    text-align: center;
}

.follow__form .form__content{
    justify-content: space-between;
    gap: 20px;
}

.form__content input{
    flex: 1;
    font-size: 16px;
    color: var(--title-color);
    border-radius: 10px;
    padding: 0px 20px;
    height: 60px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
    border: 1px solid #ced4da;

}

.form__content input:focus{
    border: 1px solid #189A46;
}

.form__content button{
   flex-basis: 24%;
   color: #fff;
   background-color: #189A46;
   border-color: #189A46;
   transition: all 0.5s;
}

/* Footer */

.footer{
    background-color: #000C04;
}

.footer__item h5{
    color: #fff;
    margin-bottom: 18px;
}

.item__address li  span{
    font-size: 16px;
    color: #696969;
}

.item__social{
    display: flex;
    gap: 20px;
}

.footer__item ul li{

    margin-bottom: 5px;
}
.footer__item ul li a{
    color: #696969;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.footer__writer {
    border-top: 1px solid ;
    text-align: center;
    font-size: 16px;
}

.footer__writer  p{
    font-size: 16px;
}

.footer__writer span{
    color: #f53626;
}