*reset css*

* {
    padding :0;
    margin:0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 400;
    background-color: #fff;
}
/* start header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 80px;
    color: #fff; 
    width: 100%;
    /* max-width: 1200px; */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 9px;
}

header fixed-space-height {
    margin-top: 90px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
}

@media screen and 
(max-width: 991px) {
    .header {
        height: auto;
        padding: 15px 0;
    }
    
}
/* @media screen and (min-width: 992px) {
    display: flex;
} */


@media screen  and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    
}

/* .header .navbar-brand {
    font-size: 24px;
    letter-spacing: -1px;
    color: #fff;
} */
.header .nav-link {
    font-size: 1.6rem;
    color:#fff;
    position: relative;
    }
.header .nav-item a:hover {
    text-decoration: none;
    color: #189a46;
}

.header .nav-item > a::after{
    content: '';
    /* background: url('../img/arrow_down.svg') no-repeat right top; */
    }
.header .dropdown-menu {
    border-radius: 0;
    border: none;
}
.header .dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
}
.header .dropdown-toggle:active::after {
    display: block;
}
.header .dropdown-toggle::before {
    content: '';
    position: absolute;
    top: 50%;
}
.header .dropdown-toggle:active::before {
    display: block;
}

.header .dropdown-item {
    background: transparent ;
    color: #3c3e4b;
}

.header .container a{
    color: #189a46;
}
@keyframes bounceInDown {
    0%, 20%, 53%, 80%, 100% {
        opacity: 0;
        transform: translateY(-30px);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.header_nav li :last-child{
    margin-right: 0px;

}

.header_nav li:not(:first-child) {
    margin-left: 30px;
}


/* .navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
} */
.navbar-brand {
    display: inline-block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-content {
    width: 98%;
    max-width: 700px;
    height: auto;
    display: flex;

}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
/* end header */

/* start carousel */
.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: inherit;
    margin:inherit;
}.carousel .container{
    padding-top: 50px;
    text-align: center;
}

.carousel .carousel-inner .carousel-item >img {
    object-fit: cover;
    width: 100% ;
    height: auto;
}

.carousel .carousel-inner h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    }

 .carousel .carousel-inner p {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.6;
 }
   p {
    margin: 0; padding: 0;
   }




@media (min-width: 1280px) {
.container {
    max-width: 1200px;
   }
}
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    max-width: auto;
    text-align: left;
}

.carousel-item p {
    font-size: 1.2em;
    line-height: 1.7em;
    color:#fff;
}

.carousel__contaniner carousel slide{
    width: 100%;
    overflow: hidden;
    position: relative;
    touch-action: manipulation;
    transform: translate3d(-2698px ,0px, 0px);
    transition: all 1s ease 0s;
    width: 10792px;
}


.carousel-inner .btn {
    -webkit-transition: 0.5s all ;
    transition: 0.5s all;
}
.carousel-inner .btn .btn-white {
    padding: 12px 35px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
    line-height: 28px;
    text-transform: capitalize;
    color: #189a46;
}
/* end CAROUSEL */

/* START ABOUT US */
.aboutUs {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1200px;
    }
    
}

@media screen and (min-width: 1200px) {
    .container{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.aboutUs .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (mind-width:768px) {
    .py-md-5 {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    
}

.content {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.content .content__above h6{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f53626;
    line-height: 2em;
    letter-spacing: 1px;
    /* clear: both; */
}

.content__above h3 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04;

}

.content__above .my-3 {
    margin: 0;
    padding: 0;
margin-bottom: 1rem;
margin-top: 1rem;
}

.content__above p{
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;

}

a.read {
    font-size: 17px;
    padding: 0;
    color: #000c04;
    border-bottom: 2px solid #189a46;
    border-radius: 1px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    margin-top: 20px;

}

a.read:hover {
    color: #189a46;
}

a:hover {
    text-decoration: none;
    /* -webkit-transition: 0.5s all; */
    outline: 0;
}

/* end about Us */

/* start Services */
.services {
    background-color: #f9f7fe;

}

.service__container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and(min-width:1280px) {
    .service__container {
        max-width: 1200;
    }
    
}

@media screen and(min-width:1200px) {
    .service__container{
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (min-width: 768px) {
.pt-md-4, .py-md-4 {
    padding-top: 1.5rem !important;
}

}

@media (min-width: 768px) {
.service__container, .container-sm, .container-md {
    max-width: 720px;
    }
}


.content{
    font-size: 13px;
    line-height: 1.5;
    justify-content: center;
}

.justify-content-center {
    text-align: center!important;
    justify-content: center;
}

.col-lg-6 {
    width: calc((100% / 12) * 6);
}



.services .services__content .col-md-4 {
    margin-bottom: 30px;
}

@media screen and (mind-width:992px) {
    .col-lg-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

}
.row .box {
    border-radius: 7px;
    padding: 40px 30px;
    background-color: #fff;
    transition: all 0.5s ease 0s;
    position: relative;
}

.box {
    padding: 40px 30px;
    border-radius: 10px;
    transition: all 0.5s ease 0s ;
}
.box:hover {
    background: #f3effd ;
}

.col-4 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    width: 100%;
    padding-left: 15px;
}
.box .icon {
    font-size: 30 px; 
    color: #189a46;
}

.box .icon i{
    display: inline-block;
    font: normal;

}

.box .icon .i::before {
    content: "";

}

.box .icon h4 {
    color: #000c04;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
}

.box .icon h4 a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: #000c04;
}

.box .icon p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;

}

.box .icon a {
    background-color: transparent;
}

.box .icon a:hover{
    text-decoration: none;
    background-color: transparent;
    color: #189a46;
}
a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

.grids-feature {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
} 

@media (min-width: 576px) {
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* end SERVICE */

/* START OFFER */
.offer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
}

.offer .container {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.offer .content {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    font-size: 25px;
}
.offer .row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px) {
.pl-lg-5, .px-lg-5 {
    padding-left: 3rem !important;
   }
}

@media (min-width: 992px) {
.mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
  }

}

@media (min-width: 992px) { 
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-6 {
    flex: 0 0 50%;
    /* max-width: 50%; */
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.col-6 img  {
    border-radius: 10px;
    border-style: none;
    vertical-align: middle;
}

/* @media  screen and (max-width :991px) img {
    width: 100%;
} */

.col-6 h5 {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f53626 ;
    text-align: left;
}

.col-6 h3 {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
    color: #000c04;
    display: block;
}

.col-6 p {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    margin: 15px 0px 35px 0 ;
    color: #696969; 
    text-align: left;
}

.col-6 ul {
    list-style-type: disc;
    margin:0 ;
    padding: 0;

}

.col-6 li {
    padding: 0;
    margin: 0;
    display: block;
    text-align: left;
}
.col-6 ul li  span {
    margin: 15px 0;
    font-weight : 500px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color:#000c04;

}

.col-6 span i {
    display: inline-block;
    color: #189a46;
    margin-right: 12px;
    padding: 8px;
    border-radius: 50%;
    font-size: 10px;
    background: #936be80d;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-check:before {
    content: "ï€Œ";
}